<div class="full-page">
    <div class="card shadow">
        <h4 class="card-title text-center mb-4">
            <i class="fa fa-bus"></i> Book Your Bus Ticket
        </h4>
        <form>
            <div class="row mb-3">
                <div class="col-md-6 mb-3 mb-md-0">
                    <label for="from" class="form-label">From</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                        <select class="form-select" name="fromLocationID" [(ngModel)]="searchObj.fromLocationID">
                            <option value="">Select From Location</option>
                            @for( item of locationList; track $index){
                            <option [value]="item.locationId">{{item.locationName}}</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="to" class="form-label">To</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                        <select class="form-select" name="toLocationID" [(ngModel)]="searchObj.toLocationID">
                            <option value="">Select To Location</option>
                            @for( item of locationList; track $index){
                            <option [value]="item.locationId">{{item.locationName}}</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="date" class="form-label">Date of Journey</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    <input type="date" class="form-control" id="date" name="date" [(ngModel)]="searchObj.date">
                </div>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary" (click)="searchBus()">
                    <i class="fa fa-search"></i> Search Buses
                </button>
            </div>
        </form>
    </div>
</div>